.Navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.logo {
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 3rem;
    margin-bottom: 0.5rem;
}

.logo:hover {
    cursor: pointer;
}

.links_container {
    display: flex;
    justify-content: left;
    flex: 1;
    padding-left: 4rem;
    gap: 3rem;
}

.webgame_link {
    transition: 0.3s ease;
}

.webgame_link:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
    padding-right: 1rem;
}

.social-icon {
    transition: 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.all_games {
    position: relative;
    display: none;
    font-size: 20px;
    justify-content: left;
    flex: 1;
    padding-left: 2rem;
    padding-top: 3px;
}

.all_games_button {
    display: inline-block;
    transition: transform 0.3s ease;
}

.all_games_button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.all_games_links_container {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    font-size: 18px;
    padding: 1rem;
    z-index: 1;
    flex-direction: column;
    opacity: 0;
}

.all_games_links_container p {
    transition: transform 0.3s ease;
}

.all_games_links_container p:hover {
    transform: scale(1.2);
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1s ease-in-out both;
	        animation: swing-in-top-fwd 1s ease-in-out both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  
  .swing-out-top-fwd {
	-webkit-animation: swing-out-top-fwd 1s ease-in-out reverse both;
	        animation: swing-out-top-fwd 1s ease-in-out reverse both;
}

@-webkit-keyframes swing-out-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-out-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }

@media screen and (max-width: 1050px) {
    .Navbar-main {
        padding: 1.5rem 0.5rem;
    }
    .logo {
        font-size: 30px;
        padding-left: 1.5rem;
    }
    .links_container {
        font-size: 20px;
    }
    .social-icons {
        gap: 0.2rem;
    }
    .social-icon {
        scale: 0.8;
    }
}

@media screen and (max-width: 700px) {
    .Navbar-main {
        padding: 1.5rem 0.5rem;
        align-items: flex-start;
    }
    .logo {
        font-size: 22px;
        padding-left: 1rem;
        margin-bottom: 0rem;
    }
    .links_container {
        font-size: 15px;
        padding-left: 1.5rem;
        display: none;
    }
    .social-icons {
        gap: 0;
        padding-left: 0.5rem;
        padding-right: 0rem;
        flex-direction: column;
        justify-content: flex-end;
    }
    .social-icon {
        scale: 0.5;
    }
    .all_games {
        display: inline-block;
    }
}

@media screen and (max-width: 550px) {
    .Navbar-main {
        padding: 1.5rem 0.5rem;
        align-items: flex-start;
    }
    .logo {
        font-size: 22px;
        padding-left: 1rem;
        margin-bottom: 0rem;
    }
    .links_container {
        font-size: 15px;
        padding-left: 1.5rem;
    }
    .social-icons {
        gap: 0;
        padding-left: 0.5rem;
        padding-right: 0rem;
        flex-direction: column;
        justify-content: flex-end;
    }
    .social-icon {
        scale: 0.5;
    }
}
