@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(53, 68, 149);
  --background-end-rgb: rgb(0, 0, 0);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(136deg, #354495 0%, rgba(255, 0, 144, 0.88) 100%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: darken;
}
